.form-control {
  padding: 20px;
  font-size: 15px;
  color: $dark-secondary-color;
  line-height: inherit;
  border: 1px solid $dark-secondary-color;
  border-radius: 0;

  &:focus {
    border-color: $yellow-primary;
  }
}

.form-row {
  margin: 0 -15px;

  > .col,
  > [class*="col-"] {
    padding: 0 15px 15px;
  }
}
